@model List<Employee>

<h1>
    Employee List
</h1>

<div class="row mb-3 pb-2 border-bottom">
    <div class="col text-end">
        <a href="/Employees/Create" class="btn btn-success">Add New </a>
    </div>
</div>
<div class="row">
    @foreach (var employee in Model) {
       
        <partial name="_EmployeeCard" model="employee"  />
    }

</div>


